{% schema %}
  {
    "name": "Custom layout",
    "tag": "section",
    "class": "section",
    "presets": [
      {
        "name": "Default Custom Layout"
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "id": "espaciado_arriba",
        "type": "number",
        "label": "Espaciado arriba (px)",
        "default": 20
      },
      {
        "id": "espaciado_abajo",
        "type": "number",
        "label": "Espaciado abajo (px)",
        "default": 20
      },
      {
        "id": "texto_titulo",
        "type": "text",
        "label": "Titulo"
      },
      {
        "type": "color_scheme",
        "id": "title_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }, {
        "id": "imagen_principal",
        "type": "image_picker",
        "label": "Imagen principal"
      }, {
        "id": "altura_imagen",
        "type": "number",
        "label": "Altura banner (px)",
        "default": 300
      }, {
        "id": "title_padding",
        "type": "number",
        "label": "Espaciado del titulo (px)",
        "default": 20
      }, {
        "type": "select",
        "id": "content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
          }, {
            "value": "right",
            "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.rich-text.settings.content_alignment.label"
      }, {
        "id": "texto_titulo_izquierda",
        "type": "text",
        "label": "Titulo columna izquierda"
      }, {
        "id": "texto_columna_izquierda",
        "type": "richtext",
        "label": "Texto para la columna de la izquierda"
      }, {
        "id": "imagen_columna_izquierda",
        "type": "image_picker",
        "label": "Imagen para la columna de la izquierda"
      }, {
        "id": "altura_imagen_izquierda",
        "type": "number",
        "label": "Altura imagen izquierda (px)",
        "default": 300
      }, {
        "id": "texto_titulo_derecha",
        "type": "text",
        "label": "Titulo columna derecha"
      }, {
        "id": "texto_columna_derecha",
        "type": "richtext",
        "label": "Texto para la columna de la derecha"
      }, {
        "id": "imagen_columna_derecha",
        "type": "image_picker",
        "label": "Imagen para la columna de la derecha"
      }, {
        "id": "altura_imagen_derecha",
        "type": "number",
        "label": "Altura imagen derecha (px)",
        "default": 300
      }, {
        "id": "texto_titulo_izquierda_abajo",
        "type": "text",
        "label": "Titulo columna izquierda_abajo"
      }, {
        "id": "texto_columna_izquierda_abajo",
        "type": "richtext",
        "label": "Texto para la columna de la izquierda_abajo"
      }, {
        "id": "imagen_columna_izquierda_abajo",
        "type": "image_picker",
        "label": "Imagen para la columna de la izquierda_abajo"
      }, {
        "id": "altura_imagen_izquierda_abajo",
        "type": "number",
        "label": "Altura imagen izquierda_abajo (px)",
        "default": 300
      }, {
        "id": "texto_titulo_derecha_abajo",
        "type": "text",
        "label": "Titulo columna derecha_abajo"
      }, {
        "id": "texto_columna_derecha_abajo",
        "type": "richtext",
        "label": "Texto para la columna de la derecha_abajo"
      }, {
        "id": "imagen_columna_derecha_abajo",
        "type": "image_picker",
        "label": "Imagen para la columna de la derecha_abajo"
      }, {
        "id": "altura_imagen_derecha_abajo",
        "type": "number",
        "label": "Altura imagen derecha_abajo (px)",
        "default": 300
      }
    ]
  }
{% endschema %}

{% stylesheet %}


  /*
   .columna {
   display: inline-block;
   width: 49%;
   vertical-align: top;
   }
*/

  .contenedor-banner-principal {
    display: flex;
    flex-direction: column;
  }

  .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  .contenedor-principal {
    padding: 0 200px;
    display: flex;
    justify-content: center;
  }

  .contenedor-principal-columnas {
    background-color: white;
    border-radius: 28px;
    max-width: 1110px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contenedor-columnas {
    display: flex;
    gap: 20px;
  }

  .columna {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
  }

  @media screen and (max-width: 1280px) {
    .contenedor-principal {
      padding: 0 100px;
    }
  }

  @media screen and (max-width: 1024px) {
    .contenedor-principal {
      padding: 0 40px;
    }
  }

  @media screen and (max-width: 768px) {
    .contenedor-principal {
      padding: 0 10px;
    }
  }

  @media screen and (max-width: 640px) {
    .contenedor-principal {
      padding: 0 10px;
    }
  }
{% endstylesheet %}

{% assign banner_image_url = section.settings.imagen_principal | image_url: width: 2000 %}
{% assign image_style = 'width: 100%; object-fit: cover; height:' | append: section.settings.altura_imagen | append: 'px'
%}

{% assign contenedor_principal_columnas_style = 'style="margin: '  | append: section.settings.espaciado_arriba | append: 'px 0px ' | append: section.settings.espaciado_abajo | append: 'px;"'
%}

{% assign title_style = 'style="padding: 0 ' | append: section.settings.title_padding | append: 'px;"' %}

{% assign image_url_c_derecha = section.settings.imagen_columna_derecha | image_url: width: 800 %}
{% assign image_style_c_derecha = 'width: 100%; border-radius: 20px; object-fit: cover; height:' | append: section.settings.altura_imagen_derecha | append: 'px'
%}

{% assign image_url_c_izquierda = section.settings.imagen_columna_izquierda | image_url: width: 800 %}
{% assign image_style_c_izquierda = 'width: 100%; border-radius: 20px; object-fit: cover;height:' | append: section.settings.altura_imagen_izquierda | append: 'px'
%}

{% assign image_url_c_derecha_abajo = section.settings.imagen_columna_derecha_abajo | image_url: width: 800 %}
{% assign image_style_c_derecha_abajo = 'width: 100%; border-radius: 20px; object-fit: cover; height:' | append: section.settings.altura_imagen_derecha_abajo | append: 'px'
%}

{% assign image_url_c_izquierda_abajo = section.settings.imagen_columna_izquierda_abajo | image_url: width: 800 %}
{% assign image_style_c_izquierda_abajo = 'width: 100%; border-radius: 20px; object-fit: cover;height:' | append: section.settings.altura_imagen_izquierda_abajo | append: 'px'
%}

{% if section.settings.imagen_columna_izquierda or section.settings.texto_columna_izquierda != '' or section.settings.texto_titulo_izquierda != ''
%}
  {% assign contenido_disponible_izquierda = true %}
{% endif %}

{% if section.settings.imagen_columna_derecha or section.settings.texto_columna_derecha != '' or section.settings.texto_titulo_derecha != ''
%}
  {% assign contenido_disponible_derecha = true %}
{% endif %}

{% if section.settings.imagen_columna_izquierda_abajo or section.settings.texto_columna_izquierda_abajo != '' or section.settings.texto_titulo_izquierda_abajo != ''
%}
  {% assign contenido_disponible_izquierda_abajo = true %}
{% endif %}

{% if section.settings.imagen_columna_derecha_abajo or section.settings.texto_columna_derecha_abajo != '' or section.settings.texto_titulo_derecha_abajo != ''
%}
  {% assign contenido_disponible_derecha_abajo = true %}
{% endif %}

<div class="contenedor-banner-principal">
  {% if section.settings.imagen_principal %}
    {{ banner_image_url | image_tag: style: image_style }}
  {% endif %}
  {% if section.settings.texto_titulo %}
    <div class="color-{{ section.settings.title_color_scheme }} gradient">
      <h2 class="titulo" {{ title_style }}>{{ section.settings.texto_titulo }}</h2>
    </div>
  {% endif %}
</div>
<div class="contenedor-principal color-{{ section.settings.color_scheme }}">
  <div class="contenedor-principal-columnas" {{ contenedor_principal_columnas_style }}>

    {% if contenido_disponible_izquierda %}
      <div class="contenedor-columnas">
        <div class="columna {{ section.settings.content_alignment }}">
          {% if section.settings.texto_titulo_izquierda != '' %}
            <h3 style="font-family: sigmarone; margin: 8px 0px 0px 0px;">{{ section.settings.texto_titulo_izquierda }}</h3>
          {% endif %}
          {% if section.settings.texto_columna_izquierda != '' %}
            <p style="margin: 0px 0px 0px 0px;">
              {{ section.settings.texto_columna_izquierda | strip_html }}
            </p>
          {% endif %}
          {% if section.settings.imagen_columna_izquierda %}
            {{ image_url_c_izquierda | image_tag: style: image_style_c_izquierda }}
          {% endif %}
        </div>

        <div class="linea-vertical"></div>

        {% if contenido_disponible_derecha %}
          <div class="columna {{ section.settings.content_alignment }}">
            {% if section.settings.texto_titulo_derecha != '' %}
              <h3 style="font-family: sigmarone; margin: 8px 0px 0px 0px;">{{ section.settings.texto_titulo_derecha }}</h3>
            {% endif %}
            {% if section.settings.texto_columna_derecha != '' %}
              <p style="margin: 0px 0px 0px 0px;">
                {{ section.settings.texto_columna_derecha | strip_html }}
              </p>
            {% endif %}
            {% if section.settings.imagen_columna_derecha %}
              {{ image_url_c_derecha | image_tag: style: image_style_c_derecha }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if contenido_disponible_izquierda_abajo %}
      <div class="contenedor-columnas">
        <div class="columna {{ section.settings.content_alignment }}">
          {% if section.settings.texto_titulo_izquierda_abajo != '' %}
            <h3 style="font-family: sigmarone; margin: 8px 0px 0px 0px;">{{ section.settings.texto_titulo_izquierda_abajo }}</h3>
          {% endif %}
          {% if section.settings.texto_columna_izquierda_abajo != '' %}
            <p style="margin: 0px 0;">{{ section.settings.texto_columna_izquierda_abajo | strip_html }}</p>
          {% endif %}
          {% if section.settings.imagen_columna_izquierda_abajo %}
            {{ image_url_c_izquierda_abajo | image_tag: style: image_style_c_izquierda_abajo }}
          {% endif %}
        </div>

        {% if contenido_disponible_derecha_abajo %}
          <div class="columna {{ section.settings.content_alignment }}">
            {% if section.settings.texto_titulo_derecha_abajo != '' %}
              <h3 style="font-family: sigmarone; margin: 8px 0px 0px 0px;">{{ section.settings.texto_titulo_derecha_abajo }}</h3>
            {% endif %}
            {% if section.settings.texto_columna_derecha_abajo != '' %}
              <p style="margin: 0px 0px 0px 0px;">{{ section.settings.texto_columna_derecha_abajo | strip_html }}</p>
            {% endif %}
            {% if section.settings.imagen_columna_derecha_abajo %}
              {{ image_url_c_derecha_abajo | image_tag: style: image_style_c_derecha_abajo }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>